{% extends "main/base.html" %} {% load static %} {% block content %}

<main class="py-6 bg-surface-secondary">

  <div class="container-fluid">

    <div class="row g-6 mb-6">
      <div class="col-xl-12">
        <div class="card">
          {% comment %} <div class="card-header d-flex align-items-center">
            <h5 class="mb-0">Orders</h5>
            <button class="btn btn-sm btn-neutral ms-auto">Export</button>
          </div>
          <div class="px-4">
            <div id="chart-line" data-height="300"></div>
          </div> {% endcomment %}
        </div>
      </div>

    </div> 

    <div class="row g-6 mb-6">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h6 font-semibold text-muted text-sm d-block mb-2"
                  >Total Salary</span
                >
                <span class="h3 font-bold mb-0">${{total_salary}}</span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"
                >
                  <i class="bi bi-credit-card"></i>
                </div>
              </div>
            </div>
            <div class="mt-2 mb-0 text-sm">
              {% comment %} <span class="badge badge-pill bg-soft-success text-success me-2">
                <i class="bi bi-arrow-up me-1"></i>30% </span>
              <span class="text-nowrap text-xs text-muted">Since last month</span> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h6 font-semibold text-muted text-sm d-block mb-2"
                  >Total Full Time</span
                >
                <span class="h3 font-bold mb-0">{{total_active_full_time_employees}}</span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-primary text-white text-lg rounded-circle"
                >
                  <i class="bi bi-people"></i>
                </div>
              </div>
            </div>
            <div class="mt-2 mb-0 text-sm">
              {% comment %} <span class="badge badge-pill bg-soft-success text-success me-2">
                <i class="bi bi-arrow-up me-1"></i>23% </span>
              <span class="text-nowrap text-xs text-muted">Since last week</span> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h6 font-semibold text-muted text-sm d-block mb-2"
                  >Total Part Time</span
                >
                <span class="h3 font-bold mb-0">{{total_active_part_time_employees}}</span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-info text-white text-lg rounded-circle"
                >
                <i class="bi bi-people"></i>
                </div>
              </div>
            </div>
            <div class="mt-2 mb-0 text-sm">
              {% comment %} <span class="badge badge-pill bg-soft-danger text-danger me-2">
                <i class="bi bi-arrow-down me-1"></i>-10% </span>
              <span class="text-nowrap text-xs text-muted">Since last month</span> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h6 font-semibold text-muted text-sm d-block mb-2"
                  >Average Salary</span
                >
                <span class="h3 font-bold mb-0">{{ average_full_time_salary_formatted }}</span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-warning text-white text-lg rounded-circle"
                >
                  <i class="bi bi-cash"></i>
                </div>
              </div>
            </div>
            <div class="mt-2 mb-0 text-sm">
              {% comment %} <span class="badge badge-pill bg-soft-success text-success me-2">
                <i class="bi bi-arrow-up me-1"></i>15% </span>
              <span class="text-nowrap text-xs text-muted">Since yestearday</span> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header border-bottom">
        <h5 class="mb-0">Active employees</h5>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-nowrap">
          <thead class="table-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Join Date</th>
              <th scope="col">Probation Completion (60D)</th>
              <th scope="col">Status</th>
              <th scope="col">Salary</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for ft_employee in active_full_time_employees %}
            <tr>
              <td>
                <img
                  alt="..."
                  src="{{ ft_employee.photo_url }}"
                  class="avatar avatar-sm rounded-circle me-2"
                />
                <a class="text-heading font-semibold" href="#"
                  >{{ ft_employee.full_name }}</a
                >
              </td>
              <td>{{ ft_employee.start_date }}</td>
              <td>
                <div class="d-flex align-items-center">
                  <span class="me-2">{{ ft_employee.days_of_service }} Days</span>
                  <div>
                    <div class="progress" style="width:120px">
                      <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="{{ft_employee.days_of_service}}" aria-valuemin="0" aria-valuemax="60" style="width:{{ ft_employee.probation_completion }}%"></div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                {% if ft_employee.active %}
                <span
                class="badge badge-lg badge-dot">
                <i class="bg-success"></i>Active</span
                {% else %}
                class="badge badge-lg badge-dot">
                <i class="bg-success"></i>Inactive</span
                {% endif %}
              </td>
              <td>
                {{ft_employee.monthly_salary}}
              </td>

              <td class="text-end">
                <a href="#" class="btn btn-sm btn-neutral">Edit</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

{% endblock %}
