{% load static %}
{% load i18n %}

<header>
    <div class="container-fluid">
      <div class="border-bottom pt-6">
        <div class="row align-items-center">
          <div class="col-sm col-12">
            <h1 class="h2 ls-tight">
              <span class="d-inline-block me-3">👋</span>
              {% if user.is_authenticated %}
                  <p>Hi, {{ user.username|capfirst }}!</p>
              {% else %}
                  <p>Welcome, guest!</p>
              {% endif %}
            </h1>
          </div>
          <div class="col-sm-auto col-12 mt-4 mt-sm-0">

          </div>
        </div>
        <ul class="nav nav-tabs overflow-x border-0">
          <li class="nav-item">
            <p class="nav-link active"></p>
          </li>

        </ul>
      </div>
    </div>
  </header>