<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payslip</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Additional CSS styling can be added here */
    @media print {
      /* Hide print button when printing */
      .print-btn {
        display: none;
      }
      
      /* Set orientation to landscape */
      @page {
        size: landscape;
      }
    }
    
    /* Reduce line height */
    p {
      line-height: 1.2;
    }

    /* Reduce padding and font size for table cells */
    .table tbody tr td, .table tbody tr th {
      padding: 0.25rem;
      font-size: 0.9rem;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12 text-center mb-4">
        <h2>Payslip</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p><strong>Employee Details:</strong></p>
        <p>Name: {{payroll_item.employee.full_name}}</p>
        <p>Employee ID: {{payroll_item.employee.employee_id}}</p>
        <p>Position: {{payroll_item.employee.position}}</p>
      </div>
      <div class="col-md-4">
        <p><strong>Pay Period:</strong></p>
        <p>{{payroll_item.payroll.get_month_display}} {{payroll_item.payroll.year}}</p>
      </div>
      <div class="col-md-4">
        <p><strong>Company Information:</strong></p>
        <p>Company Name: ABC Corporation</p>
        <p>Address: 123 Main Street, City, Country</p>
        <p>Phone: 123-456-7890</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <h5>Earnings</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Description</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Basic Salary</td>
              <td>${{payroll_item.amount}}</td>
            </tr>

            <!-- Add more earnings here -->
            <tr>
              <td><strong>Total Earnings</strong></td>
              <td><strong>${{payroll_item.amount}}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h5>Deductions</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Description</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            {% comment %} <tr>
              <td>Tax</td>
              <td>$200</td>
            </tr>
            <tr>
              <td>Insurance</td>
              <td>$100</td> {% endcomment %}
            </tr>
            <!-- Add more deductions here -->
            <tr>
              <td><strong>Total Deductions</strong></td>
              <td><strong>$0.00</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <table class="table">
          <tbody>
            <tr>
              <td><strong>Net Pay</strong></td>
              <td><strong>${{payroll_item.amount}}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <button class="btn btn-primary print-btn"" onclick="window.print()">Generate payslip</button>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
