{% extends "employee/base.html" %} 
{% load static %} 
{% load widget_tweaks %}

{% block content %}
<main class="py-6 bg-surface-secondary">
  <div class="container-fluid max-w-screen-md vstack gap-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <div class="d-flex align-items-center">
              <img
              alt="..."
              src="{{ form.instance.photo_url }}"
              class="avatar avatar-lg rounded-circle me-2"/>
              <div class="ms-4">
                <span class="h4 d-block mb-0">{{ form.instance.full_name }}</span>
              </div>
            </div>
          </div>
          <div class="ms-auto">
            <button type="button" class="btn btn-sm btn-neutral">Change photo</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="mb-5"><h4>Contact Information</h4></div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row g-5">
          <div class="col-md-12">
            <div>
              <label class="form-label">Profile photo</label></br>
              {{form.photo | add_class:"form-control" }}
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <label class="form-label">Employee ID</label>
              {{form.employee_id | add_class:"form-control" }}
            </div>
          </div>
          <div class="col-md-9">
            <div>
              <label class="form-label">Full name</label>
              {{form.full_name | add_class:"form-control" }}
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label class="form-label">IC / Passport</label>
              {{form.pin | add_class:"form-control" }}
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label class="form-label" for="email">Email</label>
              {{form.email | add_class:"form-control" }}
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label class="form-label">Phone number</label>
              {{form.phone_number | add_class:"form-control" }}
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label class="form-label">Start Date</label>
              {{ form.start_date|add_class:"form-control datepicker" }}
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <label class="form-label">Position</label>
              {{form.position | add_class:"form-control" }}
            </div>
          </div>

          <hr class="my-6" />

          {% if 'monthly_salary' in form.fields %}
          <div class="col-md-4">
            <div>
              <label class="form-label">Monthly Salary</label>
              {{form.monthly_salary | add_class:"form-control" }}
            </div>
          </div>
          {% endif %}

          {% if 'hourly_rate' in form.fields %}
          <div class="col-md-4">
            <div>
              <label class="form-label">Hourly rate</label>
              {{form.hourly_rate | add_class:"form-control" }}
            </div>
          </div>
          {% endif %}

          {% if 'medical_leave' in form.fields %}
          <div class="col-md-4">
            <div>
              <label class="form-label">Medical Leave</label>
              {{form.medical_leave | add_class:"form-control" }}
            </div>
          </div>
          {% endif %}

          {% if 'annual_leave' in form.fields %}
          <div class="col-md-4">
            <div>
              <label class="form-label">Annual Leave</label>
              {{form.annual_leave | add_class:"form-control" }}
            </div>
          </div>
          {% endif %}

          <div class="col-12">
            <div class="form-check">
              {{form.active | add_class:"form-check-input" }}

              <label class="form-check-label" for="check-primary-address"
                >Active</label
              >
            </div>
          </div>
          <div class="col-12 text-end">
            <button type="submit" class="btn btn-sm btn-primary">Update</button>
          </div>
        </div>
      </form>
    </div>
    <hr class="my-6" />

      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="text-danger mb-2">Delete employee</h4>
            <p class="text-sm text-muted mb-4">
              Permanently delete employee and all of its contents. This
              action is not reversible – please be certain.
            </p>
            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEmployeeModal">
              Delete employee
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Delete employeeModal -->
    <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteEmployeeModalLabel">Confirm Employee Deletion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Please enter the employee's full name to confirm deletion:</p>
            <form method="post">
              {% csrf_token %}
              {{ delete_form.full_name | add_class:"form-control"}}
              <button type="submit" class="btn btn-danger mt-3" name="delete_employee">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}
