{% extends "employee/base.html" %} {% load static %} {% block content %}
<main class="py-6 bg-surface-secondary">

{% comment %} Full time form start {% endcomment %}
<form method="post" enctype="multipart/form-data">  
  {% csrf_token %}
<div
  class="offcanvas offcanvas-end w-full w-lg-1/3"
  data-bs-scroll="true"
  data-bs-backdrop="true"
  tabindex="-1"
  id="fullTimeCreate"
  aria-labelledby="offcanvasCreateLabel">
  
  <div class="offcanvas-header border-bottom py-4 bg-surface-secondary">
    <h5 class="offcanvas-title" id="offcanvasCreateLabel">
      Create new Full Time Employee
    </h5>
    <button
      type="button"
      class="btn-close text-reset text-xs"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body vstack gap-5">

    <div class="row g-5">
      <div class="col-md-4">
        <div>
          <label class="form-label">ID</label>
          <input type="text" class="form-control" name="employee_id"/>
        </div>
      </div>
      <div class="col-md-8">
        <div>
          <label class="form-label">IC / Passport Number</label>
          <input type="text" class="form-control" name="pin"/>
        </div>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-md-12">
        <div>
          <label class="form-label">Full Name</label>
          <input type="text" class="form-control" name="full_name"/>
        </div>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-md-12">
        <div>
          <label class="form-label">Email address</label>
          <input type="email" class="form-control" name="email"/>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="form-label">Start date</label>
        <input type="date" class="form-control" name="start_date"/>
      </div>
      <div class="col-md-6">
        <label class="form-label">Phone number</label>
        <input type="tel" class="form-control" name="phone_number"/>
      </div>
    </div>
    <div>
      <label class="form-label" for="formInputExample">Photo</label>
      <div class="d-flex align-items-center">
        <a href="#" class="avatar avatar-lg bg-warning rounded-circle text-white">
          <img id="preview-image" alt="Preview" src="{% static 'assets/img/people/placeholder-avatar.png' %}">
        </a>
        <div class="ms-5">
          <label for="file-upload" class="btn btn-sm btn-neutral">
            <span>Upload</span>
            <input type="file" id="file-upload" name="photo" class="visually-hidden">
          </label>
        </div>
      </div>
    </div>
    
    <hr />
    <div class="row">
      <div class="col-md-6">
        <label class="form-label">Position</label>
        <input type="text" class="form-control" name="position"/>
      </div>
      <div class="col-md-6">
        <label class="form-label">Monthly Salary</label>
        <input type="number" class="form-control" name="monthly_salary"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="form-label">Medical leave</label>
        <input type="text" class="form-control" name="medical_leave"/>
      </div>
      <div class="col-md-6">
        <label class="form-label">Annual Leave</label>
        <input type="number" class="form-control" name="annual_leave"/>
      </div>
    </div>
    <div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          name="active"
          id="switchMakeActive"
        />
        <label class="form-check-label ms-2" for="switchMakeActive"
          >Active</label
        >
      </div>
    </div>
  </div>
  <div class="modal-footer py-2 bg-surface-secondary">
    <button
      type="button"
      class="btn btn-sm btn-neutral"
      data-bs-dismiss="offcanvas"
    >
      Close
    </button>
    <button type="submit" name="full_time_submit" class="btn btn-sm btn-primary">Save</button>
  </div>
</div>
</form>
{% comment %} Full time form ends {% endcomment %}
  
  <div
    class="offcanvas offcanvas-end w-full w-lg-1/3"
    data-bs-scroll="true"
    data-bs-backdrop="true"
    tabindex="-1"
    id="partTimeCreate"
    aria-labelledby="offcanvasCreateLabel">
    <div class="offcanvas-header border-bottom py-4 bg-surface-secondary">
      <h5 class="offcanvas-title" id="offcanvasCreateLabel">
        Create a new part time employee
      </h5>
      <button
        type="button"
        class="btn-close text-reset text-xs"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body vstack gap-5">

      <div class="row g-5">
        <div class="col-md-4">
          <div>
            <label class="form-label">ID</label>
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="col-md-8">
          <div>
            <label class="form-label">IC / Passport Number</label>
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
  
      <div class="row g-5">
        <div class="col-md-12">
          <div>
            <label class="form-label">Full Name</label>
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
  
      <div class="row g-5">
        <div class="col-md-12">
          <div>
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" />
          </div>
        </div>
  
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="form-label">Start date</label>
          <input type="date" class="form-control" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Phone number</label>
          <input type="tel" class="form-control" />
        </div>
      </div>
      <div>
        <label class="form-label" for="formInputExample">Photo</label>
        <div class="d-flex align-items-center">
          <a href="#" class="avatar avatar-lg bg-warning rounded-circle text-white">
            <img id="preview-image" alt="Preview" src="{% static 'assets/img/people/placeholder-avatar.png' %}">
          </a>
          <div class="ms-5">
            <label for="file-upload" class="btn btn-sm btn-neutral">
              <span>Upload</span>
              <input type="file" name="file-upload" id="file-upload" class="visually-hidden">
            </label>
          </div>
        </div>
      </div>
      
      <hr />
      <div class="row">
        <div class="col-md-6">
          <label class="form-label">Position</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Hourly Rate</label>
          <input type="number" class="form-control" />
        </div>
      </div>
      <div>
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            name="switchMakeActive"
            id="switchMakeActive"
          />
          <label class="form-check-label ms-2" for="switchMakeActive"
            >Active</label
          >
        </div>
      </div>
    </div>
    <div class="modal-footer py-2 bg-surface-secondary">
      <button
        type="button"
        class="btn btn-sm btn-neutral"
        data-bs-dismiss="offcanvas"
      >
        Close
      </button>
      <button type="button" class="btn btn-sm btn-primary">Save</button>
    </div>
  </div>

  <div class="container-fluid">
    <div class="vstack gap-4">
      <div class="d-flex justify-content-between flex-column flex-sm-row gap-3">
        <div class="hstack gap-2">

          {% comment %} Search feature {% endcomment %}
          {% comment %} <div class="input-group input-group-sm input-group-inline">
            <span class="input-group-text pe-2"
              ><i class="bi bi-search"></i> </span
            ><input
              type="email"
              class="form-control"
              placeholder="Search"
              aria-label="Search"
            />
          </div> {% endcomment %}
          <div>
            {% comment %} <button
              type="button"
              class="btn btn-sm px-3 btn-neutral d-flex align-items-center"
            >
              <i class="bi bi-funnel me-2"></i> <span>Filters</span>
              <span class="vr opacity-20 mx-3"></span>
              <span class="text-xs text-primary">2</span>
            </button> {% endcomment %}
          </div>
        </div>
        {% comment %} <div class="btn-group">
          <a href="#" class="btn btn-sm btn-neutral"
            ><i class="bi bi-cloud-download me-2"></i>Download all </a
          ><a href="#" class="btn btn-sm btn-neutral"
            ><i class="bi bi-gear-wide me-2"></i>Settings</a
          >
        </div> {% endcomment %}
      </div>
      <div class="card">
        <div class="card-header border-bottom d-flex align-items-center">
          <h5 class="me-auto">Part Time Employees</h5>
          {% comment %} <div class="dropdown">
            <a
              class="text-muted"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><i class="bi bi-three-dots-vertical"></i
            ></a>
            <div class="dropdown-menu">
              <a href="#!" class="dropdown-item">Action </a
              ><a href="#!" class="dropdown-item">Another action </a
              ><a href="#!" class="dropdown-item">Something else here</a>
            </div>
          </div> {% endcomment %}
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-nowrap">
            <thead class="table-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Start Date</th>
                <th scope="col">Position</th>
                <th scope="col">Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for employee in part_time_employees %}
              <tr>
                <td>
                  <img
                    alt="..."
                    src="{{ employee.photo_url }}"
                    class="avatar avatar-sm rounded-circle me-2"
                  />
                  <a
                    class="text-heading text-primary-hover font-semibold"
                    href="#"
                    >{{ employee.full_name }}</a
                  >
                </td>
                <td>{{ employee.creation_date.date }}</td>
                <td>
                  {{ employee.start_date }}
                </td>
                <td>{{ employee.position }}</td>
                <td>
                  <div class="w-20">
                    {% if employee.active %}
                    <span
                    class="badge text-uppercase bg-soft-success text-success rounded-pill">
                      Active
                    </span>
                    {% else %}
                    <span
                    class="badge text-uppercase bg-soft-danger text-danger rounded-pill">
                      Inactive
                    </span>
                    {% endif %}
                  </div>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-sm btn-square btn-neutral"
                    ><i class="bi bi-pencil"></i> </a
                  ><button
                    type="button"
                    class="btn btn-sm btn-square btn-neutral text-danger-hover"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer border-0 py-5">
          <span class="text-muted text-sm"
            >Showing {{ part_time_employees.count }} Employees out of {{ part_time_employees.count }} results found</span
          >
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  document.getElementById('file-upload').addEventListener('change', function(event) {
    const file = event.target.files[0];
    const reader = new FileReader();

    reader.onload = function(e) {
      document.getElementById('preview-image').src = e.target.result;
    };

    reader.readAsDataURL(file);
  });
</script>
{% endblock %}
