{% extends "authentication/base.html" %}
{% load static %}

{% block content %}
<div class="col-12 col-md-9 col-lg-7 offset-lg-5 border-left-lg min-h-screen d-flex flex-column justify-content-center position-relative">
          
    <div class="py-lg-16 px-lg-20">
      <div class="row">
        <div class="col-lg-10 col-md-9 col-xl-6 mx-auto ms-xl-0">
          <div class="mt-10 mt-lg-5 mb-6 d-lg-block">
            <span class="d-inline-block d-lg-block h1 mb-4 mb-lg-6 me-3"
              >👋</span
            >
            <h1 class="ls-tight font-bolder h2">Nice to see you!</h1>
          </div>
          {% if form.errors %}
          <div class="alert alert-danger">
              <ul>
                  {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                  <li>{{ field|title }}: {{ error }}</li>
                  {% endfor %}
                  {% endfor %}
              </ul>
          </div>
          </br>
          {% endif %}
          <form id="myForm" method="post" action="{% url 'authentication:signin' %}" onsubmit="submitForm(event)">
            {% csrf_token %}

            <div class="mb-5">
              <label class="text-muted form-label" for="username"
                >Username</label
              >
              <input type="text" class="form-control" id="username" name="username" />
            </div>
            <div class="mb-5">
              <div
                class="d-flex align-items-center justify-content-between"
              >
                <div>
                  <label class="text-muted form-label" for="password"
                    >Password</label
                  >
                </div>
                <div class="mb-2">
                  <a
                    href="{% url 'authentication:register' %}"
                    class="text-sm text-muted text-primary-hover text-underline"
                    >Forgot password?</a
                  >
                </div>
              </div>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                autocomplete="current-password"
              />
            </div>
            <div class="mb-5">
            </div>
            <div>
              <button type="submit" class="btn btn-primary w-full" id="signInButton">Sign in</button>
            </div>
          </form>


          <!-- Loading spinner HTML -->
          <div id="loadingSpinner" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;" class="d-none text-primary text-center" role="status">
            <div class="spinner-border mb-2" role="status"></div>
            {% comment %} <span class="sr-only">Loading...</span> {% endcomment %}
            <br>
            <span class="text-muted">Authenticating</span>
          </div>



        </div>
      </div>
    </div>
    

    <div
      class="position-lg-absolute bottom-0 end-0 my-8 mx-12 text-center text-lg-end"
    >
      <small>Don't have an account?</small>
      <a
        href="{% url 'authentication:register' %}"
        class="text-warning text-sm font-semibold"
        >Sign up</a
      >
    </div>

  </div>

  <script>
      function submitForm(event) {
          event.preventDefault(); // Prevent form submission

          // Disable the button
          document.getElementById('signInButton').disabled = true;

          // Show the loading spinner
          document.getElementById('loadingSpinner').classList.remove('d-none');

          // Submit the form after a short delay (to allow the loading spinner to be displayed)
          setTimeout(() => {
              document.getElementById('myForm').submit();
          }, 500); // Adjust the delay as needed
      }
  </script>

  {% endblock %}
